name: Deploy Backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Upload Backend to Server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "./*"
          target: "/home/${{ secrets.SSH_USER }}/crt-app/backend/"
          strip_components: 0
          overwrite: true

      - name: Setup & Restart Backend
        uses: appleboy/ssh-action@v1.0.1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/${{ secrets.SSH_USER }}/crt-app/backend

            rm -rf deploy

            if [ ! -d "venv" ]; then
              python3 -m venv venv
            fi

            ./venv/bin/pip install --upgrade pip
            ./venv/bin/pip install -r requirements.txt

            sudo systemctl restart fastapi || true

            echo "Deployment Successful"
